
/* sidebar */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

a, h1 a:hover, h2 a:hover,
h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .x-topbar .p-info a:hover,
.x-breadcrumb-wrap a:hover, .widget ul li a:hover, .widget ol li a:hover,
.widget.widget_text ul li a, .widget.widget_text ol li a, .widget_nav_menu .current-menu-item > a,
.x-widgetbar .widget ul li a:hover, .x-accordion-heading .x-accordion-toggle:hover,
.x-comment-author a:hover, .x-comment-time:hover, .x-recent-posts a:hover .h-recent-posts {
	color: #CC9966;
}

a:hover, .widget.widget_text ul li a:hover, .widget.widget_text ol li a:hover,
.x-twitter-widget ul li a:hover {
	color: #CC9966;
}

.rev_slider_wrapper, a.x-img-thumbnail:hover, .x-slider-container.below,
.page-template-template-blank-3-php .x-slider-container.above,
.page-template-template-blank-6-php .x-slider-container.above {
	border-top-color: #CC9966;
	border-right-color: #CC9966;
	border-bottom-color: #CC9966;
	border-left-color: #CC9966;
}

.entry-thumb:before, .pagination span.current, .flex-direction-nav a,
.flex-control-nav a:hover, .flex-control-nav a.flex-active, .mejs-time-current,
.x-dropcap, .x-skill-bar .bar, .x-pricing-column.featured h2, .h-comments-title small,
.x-entry-share .x-share:hover, .x-highlight, .x-recent-posts .x-recent-posts-img:after {
	background-color: #CC9966;
}

.x-nav-tabs > .active > a, .x-nav-tabs > .active > a:hover {
	box-shadow: inset 0px 3px 0px 0px #CC9966;
}

.x-main {
    width: 67.536945%;
}

.x-sidebar {
    width: 27.536945%;
}

.x-topbar .p-info, .x-topbar .p-info a, .x-navbar .desktop .x-nav > li > a,
.x-navbar .desktop .sub-menu a, .x-navbar .mobile .x-nav li > a, .x-breadcrumb-wrap a,
.x-breadcrumbs .delimiter {
	color: #333333;
}

.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a, .x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active > a, .x-navbar .desktop .sub-menu .current-menu-item > a,
.x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a, .x-navbar .mobile .x-nav li > a:hover,
.x-navbar .mobile .x-nav .x-active > a, .x-navbar .mobile .x-nav .current-menu-item > a {
	color: #000000;
}

.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a {
	box-shadow: inset 0px 4px 0px 0px #ccc;
}

.x-navbar .desktop .x-nav > li > a {
	height: 50px;
	padding-top: 20px;
}

.x-navbar-fixed-top-active .x-navbar-wrap {
    margin-bottom: 1px;
}

.x-navbar .desktop .x-nav > li ul {
    top: 32px;
}

.x-comment-author, .x-comment-time, .comment-form-author label,
.comment-form-email label, .comment-form-url label, .comment-form-rating label,
.comment-form-comment label, .widget_calendar #wp-calendar caption,
.widget.widget_rss li .rsswidget {
    font-family: Lato;
    font-weight: 400;
}

.p-landmark-sub, .p-meta, input, button, select, textarea {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.widget ul li a, .widget ol li a, .x-comment-time {
    color: #444444;
}

.widget_text ol li a, .widget_text ul li a {
	color: #CC9966;
}

.widget_text ol li a:hover, .widget_text ul li a:hover {
	color: #E6AB71;
}

.comment-form-author label, .comment-form-email label, .comment-form-url label,
.comment-form-rating label, .comment-form-comment label, .widget_calendar #wp-calendar th,
.p-landmark-sub strong, .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:active,
.entry-footer a:hover, .entry-footer a:active, .x-breadcrumbs .current,
.x-comment-author, .x-comment-author a {
    color: #494949;
}

.widget_calendar #wp-calendar th {
    border-color: #494949;
}

.h-feature-headline span i {
    background-color: #494949;
}

@media (max-width:979px) {
    .x-navbar-fixed-top-active .x-navbar-wrap {
        margin-bottom: 0;
    }
	.x-navbar-fixed-top-active .x-navbar-wrap2 {
	margin-bottom: 0;
    }

    .x-widgetbar {
        left: 0;
        right: 0;
    }
}

html body #wpadminbar {
    z-index: 99999 !important;
}

.admin-bar .x-navbar-fixed-top, .admin-bar .x-navbar-fixed-left,
.admin-bar .x-navbar-fixed-right {
    top: 32px;
}

@media (max-width:979px) {
    .admin-bar .x-navbar-fixed-top, .admin-bar .x-navbar-fixed-left,
    .admin-bar .x-navbar-fixed-right {
        top: 0;
    }
}

.admin-bar .x-widgetbar, .admin-bar .x-btn-widgetbar {
    top: 32px;
}

@media screen and (max-width:782px) {
    .admin-bar .x-widgetbar, .admin-bar .x-btn-widgetbar {
        top: 46px;
    }
}

body {
	font-size: 14px;
	font-style: normal;
	background: #ffffff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 24px;
}

a:focus, select:focus, input[type="file"]:focus, input[type="radio"]:focus,
input[type="submit"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto #ba0b56;
    outline-offset: -1px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1, .h1 {
    letter-spacing: -0.031em;
}

h2, .h2 {
    letter-spacing: -0.044em;
}

h3, .h3 {
    letter-spacing: -0.055em;
}

h4, .h4 {
    letter-spacing: -0.073em;
}

h5, .h5 {
    letter-spacing: -0.04em;
}

h6, .h6 {
    letter-spacing: -0.125em;
}

.w-h {
    font-weight: 400 !important;
}

.x-container.width {
    width: 90%;
}

.x-container.max {
    max-width: 100%;
}
.x-container.max2 {
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
}
.inner-wrap_left {
	float: left;
	width: 25%;
	margin-top: 30px;
	line-height: 32px;
}
.inner-btn {
	width: 60px;
	padding-right: 0px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #CC9966;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	padding-left: 8px;
	color: #333;
}
.inner-btn:hover {
	color: #CC9966;
	text-decoration: none;
}
.inner-wrap_rigt {
	float: right;
	width: 75%;
	margin-top: 16px;
}
.inner-title{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 17px;
	line-height: 24px;
	width: 100%;
	margin-bottom: 20px;
}
.inner-biz {
	width: 100%;
	border-bottom-width: thin;
	border-left-width: 8px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CC9966;
	border-left-color: #CC9966;
	margin-bottom: 14px;
	padding-left: 8px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 17px;
	line-height: 26px;
	margin-top: 20px;
}
.canpany {
	color: #b5804b;
}
.text-indent1 {
	text-indent:1em;
	text-align: left;
}
.text-indent2 {
	text-indent:2em;
	text-align: left;
}
@media (max-width: 767px) {
	.x-container.max2 {
    max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.inner-wrap_left {
	width: 100%;
	margin-top: 18px;
	line-height: 32px;
	}
p br { display:none; }

.inner-wrap_rigt {
	width: 100%;
}
}
.x-main.full {
    float: none;
    display: block;
    width: auto;
}

@media (max-width:979px) {
    .x-main.full, .x-main.left, .x-main.right, .x-sidebar.left, .x-sidebar.right {
        float: none;
        display: block;
        width: auto !important;
    }
}

.entry-header, .entry-content {
	font-size: 14px;
}

.entry-header2 {
	font-size: 14px;
	text-align: center;
}
.entry-header3 {
	font-size: 14px;
	text-align: right;
}

body, input, button, select, textarea {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a,
h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, blockquote {
	color: #333333;
}

.cfc-h-tx {
    color: #494949 !important;
}

.cfc-h-bd {
    border-color: #494949 !important;
}

.cfc-h-bg {
    background-color: #494949 !important;
}

.cfc-b-tx {
    color: #444444 !important;
}

.cfc-b-bd {
    border-color: #444444 !important;
}

.cfc-b-bg {
    background-color: #444444 !important;
}

body.x-navbar-fixed-top-active .x-navbar-wrap {
	height: 55px;
}

.x-navbar-inner {
    min-height: 55px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.x-brand {
    margin-top: 9px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.042em;
    color: #272727;
}

.x-brand:hover, .x-brand:focus {
    color: #272727;
}

.x-navbar .x-nav-wrap .x-nav > li > a {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	color: #666;
}

.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
    padding-left: 13px;
    padding-right: 13px;
}

.x-navbar .desktop .x-nav > li > a > span {
    margin-right: -0.125em;
}

.x-btn-navbar {
    margin-top: 9px;
}

.x-btn-navbar, .x-btn-navbar.collapsed {
    font-size: 14px;
}

@media (max-width:979px) {
    body.x-navbar-fixed-top-active .x-navbar-wrap {
        height: auto;
    }
}

.x-btn, .button, [type="submit"] {
    color: #ffffff;
    background-color: #EE3399;
    border-color: #EE3399;
	border: thin solid #EE3399;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-btn:hover, .button:hover, [type="submit"]:hover {
	color: #ffffff;
	background-color: #E6AB71;
	border: thin solid #CC9966;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-btn, .button, [type="reset"] {
    color: #666;
    background-color: #fff;
    border-color: #666;
	border: thin solid #666;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-btn:hover, .button:hover, [type="reset"]:hover {
	color: #666;
	background-color: #fff;
	border-color: #666;
	border: thin solid #999;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact {
	color: #ffffff;
	background-color: #CC9966;
	border: thin solid #CC9966;
	-webkit-border-radius: 5px;
	text-align: center;
	width: 220px;
	margin-right: auto;
	margin-left: auto;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 12px;
}

.contact:hover {
	color: #ffffff;
	background-color: #E6AB71;
	border: thin solid #E6AB71;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.serch {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 5px;
	float: right;
}
@media (max-width: 767px) {
.serch {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 8px;
	float: left;
}
}
#searchform4 {
	width: 210px;
	max-width: 210px;
	display: block;
	height: 20px;
	position: relative;	
}
#searchBtn4	{
	position: absolute;
	left: 174px;
	margin-top: 4px;
}
@media (max-width: 767px) {
	#searchform4 {
	width: 210px;
	max-width: 210px;
	display: block;
	height: 20px;
	position: relative;	
}
	#searchBtn4	{
	position: absolute;
	left: 240px;
	margin-top: 4px;
}
}
.sub-t {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}
.logo {
	-webkit-border-radius: 5px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.com {
	-webkit-border-radius: 5px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.cach {
	text-align: center;
	width: 83%;
	margin-right: auto;
	margin-left: auto;	
}
@media (max-width: 767px) {
	.cach {
	text-align: center;
	width: 100%;
}
	}
.menbers {
	color: #ffffff;
	background-color: #666;
	border-color: #666;
	border: thin solid #666;
	-webkit-border-radius: 5px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 21px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	z-index: 99999999;
	width: 190px;
	margin-top: 10px;
}

.menbers:hover {
	color: #ffffff;
	background-color: #999;
	border-color: #999;
	border: thin solid #999;
	-webkit-border-radius: 5px;
}
.link {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #CC9966;
	border: thin solid #CC9966;
	-webkit-border-radius: 10px;
	line-height: 18px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	margin-top: 5px;
}
.link:hover {
	background-color: #CC9966;
	border: thin solid #CC9966;
	-webkit-border-radius: 10px;
	color: #FFF;
}
.totop {
	color: #333333;
	background-color: #ffffff;
	border: thin solid #CCCCCC;
	-webkit-border-radius: 10px;
	text-align: center;
	width: 50px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	margin-top: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.125);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.totop:hover {
	color: #FFFFFF;
	background-color: #999;
	border-color: #999;
	border: thin solid #999;
	-webkit-border-radius: 10px;
	text-align: center;
	}

.x-btn.x-btn-real, .x-btn.x-btn-real:hover {
	margin-bottom: 0.25em;
	text-shadow: 0px 0.075em 0.075em rgba(0, 0, 0, 0.65);
}

.x-btn.x-btn-real {
	box-shadow: 0px 0.25em 0px 0px #660040,0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-real:hover {
    box-shadow: 0 0.25em 0 0 #8c0853, 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-flat, .x-btn.x-btn-flat:hover {
    margin-bottom: 0;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
    box-shadow: none;
}

.x-btn.x-btn-transparent, .x-btn.x-btn-transparent:hover {
    margin-bottom: 0;
    border-width: 3px;
    text-shadow: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
}
a img.linkimg{
background:none!important;
}

a:hover img.linkimg{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
background:none!important;
}
.mov {
	width: 300px;
	min-heght: 194px;	
}
@media (max-width: 767px) {
	.mov {
	width: 100%;
	min-height: 194px;
}
}
