@charset "UTF-8";
/* CSS Document */

.point {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 54px;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
	background-color: rgba(100,200,140,0.8);
	-webkit-border-radius: 27px;
	color: #FFF;
	white-space: nowrap;
	line-height: 60px;
}
.point_b {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 54px;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
	background-color: rgba(100,200,140,1);
	-webkit-border-radius: 27px;
	color: #FFF;
	white-space: nowrap;
	line-height: 60px;
}
.point2 {
	background: #78be32;
	border: 1px solid #FFF;
	-webkit-border-radius: 10px;
	color: #FFF;
	padding: 10px;
	width: 100%;
	margin-top: 20px;
}
.link-m {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	color: #CC9966;
	border: thin solid #CC9966;
	-webkit-border-radius: 10px;
	line-height: 2em;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}
.link-m:hover {
	background-color: #CC9966;
	border: thin solid #CC9966;
	-webkit-border-radius: 10px;
	color: #FFF;
}
.map-img {
	height: 93px;
	width: 128px;
	margin-top: 10px;
	margin-right: 8px;
	float: left;
	font-size: 12px;
	line-height: 30px;
	color: #000;
}
.wrap {
	width: 100%;
	margin: 0px;	
	}
.imgbtm_frame {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}	
.imgbtm {
	background: #fff;
	border: 4px solid #fff;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	zoom: 1;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 11px;
	line-height: 16px;
	float: left;
	text-align: center;
	vertical-align: 0.2%;
	color: #333;
}
a:hover img {
 opacity: 0.8;
 filter: alpha(opacity=80);
 -moz-opacity: 0.8; 
}
.land-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	font-weight: bold;
	letter-spacing: -0.03em;
}
.contact-no {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	border: thin solid #64c88c;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	background-color: #64c88c;
	width: 310px;
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 2px;
	padding-left: 9px;
	margin-left: 4px;
	margin-top: 4px;
}
.pointtop {
	font-size: 17px;
	color: #58A07A;
}
.pointtop2 {
	font-size: 20px;
	color: #29acd2;
	font-weight: bold;
	line-height: 2em;
}
.boder {
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	height: 2px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.boder2 {
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	height: 1px;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 6px;
}

.flame-warp {
	width: 100%;
}
.flame-warp1 {
	width: 100%;
	text-align: center;
}
.flame-warp2 {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 60%;
}
.flame-warp3 {
	width: 100%;
	text-align: center;
	background-size:contain;
	background-image: url( );
	background-repeat: no-repeat;
	background-position: center top;
}
.flame-left {
	float: left;
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	padding-right: 15px;
}
.flame-right {
	float: right;
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding-left: 15px;
}
.flow1 {
	text-align: center;
	display: inline-block;
	float: left;
	width: 25%;
	padding-right: 4%;
	padding-left: 0%;
}
.flow2 {
	text-align: center;
	display: inline-block;
	float: left;
	width: 25%;
	padding-right: 2%;
	padding-left: 2%;
}
.flow3 {
	text-align: justify;
	display: inline-block;
	float: left;
	width: 25%;
	padding-right: 1%;
	padding-left: 3%;
}
.flow4 {
	text-align: center;
	display: inline-block;
	float: left;
	width: 25%;
	padding-right: 0%;
	padding-left: 4%;
}

.spot {
	float: left;
}
.spec {
	width: 60%;
	float: right;
	margin-top: -4px;
}
.map {
	font-size: 8px;
	color: #09F;
}
.kw {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.spacer {
	height: 90px;
	display: inline-block;
	width: 100%;
}
.ico {
	font-size: 44px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	bottom: -60px;
	position: relative;
}
.ico2 {
	font-size: 44px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	bottom: -70px;
	position: relative;
	margin-top: -70px;
}
.ico:hover {
	position : relative;
	bottom: -63px;
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter: "alpha(opacity=85)";	
} 
.life {
	margin-top: -60px;
	margin-bottom: 60px;
}
.conbg1 {
	background-color: #FFF;
	width: 100%;
}
.conbg2 {
	background-color: #f4f5f7;
	width: 100%;
}
.conbg3 {
	background-color: #F5F0FF;
	width: 100%;
}
.text_slider {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	padding-bottom: 5px;
	color: #000;
	width: 220px;
	text-decoration: none;
	height: 25px;
	padding-left: 5px;
}
.youtube iframe{
  width: 100%;
}
.slider {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin-bottom: 30px;
}
  .slider:before,
  .slider:after {
    content: " ";
    display: table; }
  .slider:after {
    clear: both; }
  @media (min-width: 34em) {
    .slider {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .slider {
      max-width: 60rem; } }
  @media (min-width: 62em) {
    .slider {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .slider {
      max-width: 72.25rem; } 
}

@media (max-width: 1200px) {
	.spot {
	width: 100%;
}
	.spec {
	width: 100%;
}
}
@media (max-width: 47.9em) {
	.flame-left {
	float: left;
	width: 100%;
	padding-right: 0px;
}
.flame-right {
	float: right;
	width: 100%;
	padding-left: 0px;
}
.flame-warp2 {
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}
}
#apDiv {
	position:absolute;
	width: 200px;
	z-index:55555;
	text-align: center;
}
.soldout {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #C00;
	font-weight: bold;
	width: 150px;
	border: medium solid #C00;
	text-align: center;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #FFF;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity:0.85;
	margin-top: 50px;
	margin-left: 24px;
}
.soldout2 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #C00;
	font-weight: bold;
	width: 170px;
	border: medium solid #C00;
	text-align: center;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	padding-top: 53px;
	background-color: #FFF;
	height: 68px;
}
.pend {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #06F;
	font-weight: bold;
	width: 150px;
	border: medium solid #06F;
	text-align: center;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #FFF;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity:0.85;
	margin-top: 50px;
	margin-left: 24px;
}
.ponit-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 2em;
	font-weight: bold;
	color: #333;
}
.ponit-title0 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 2em;
	font-weight: bold;
	color: #029405;
	letter-spacing: -0.03em;
}
.ponit-title1 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: bold;
	color: #333;
}
.ponit-title2 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 22px;
	line-height: 1.8em;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}
.ponit-title3 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	line-height: 1.6em;
	font-weight: bold;
	color: #029405;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #029405;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #029405;
	text-align: center;
	padding-top: 5px;
	margin-top: 10px;
}
.ponit-title4 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 24px;
	line-height: 1.6em;
	font-weight: bold;
	color: #029405;
}
.ponit-title5 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: bold;
	color: #333;
	letter-spacing: -0.02em;
	text-align: center;
}
.q-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 17px;
	line-height: 2em;
	font-weight: bold;
	color: #029405;
	letter-spacing: -0.03em;
}
.a-title {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 17px;
	line-height: 2em;
	font-weight: bold;
	color: #306cb4;
	letter-spacing: -0.03em;
}
.point_circle {
	text-align: center;
	float: left;
	width: 40px;
	height: 40px;
	border: thin solid #029405;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
	line-height: 3.6em;
	background-color: #029405;
	color: #FFF;
	font-size: 11px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-right: 5px;
}
.point-wrap {
	width: 100%;
	text-align: left;
	border: thin solid #CCCCCC;
	-webkit-border-radius: 6px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #F3F1E8;
	line-height: 1.7em;
	text-decoration: none;
	display: inline-block;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}
.title-m {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 28px;
	line-height: 44px;
	font-weight: bold;
	color: #333;
	margin-top: -10px;
}
.title-m2 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 28px;
	line-height: 1.3em;
	font-weight: bold;
	color: #333;
}
.title-m3 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	line-height: 44px;
	font-weight: bold;
	color: #44af34;
	margin-top: -10px;	
}
.title-m4 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 18px;
	line-height: 2em;
	font-weight: bold;
	margin-top: -10px;
}
.page-navi {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	text-align: right;
	width: 100%;
	margin-bottom: 10px;
}
.link {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	color: #FFF;
	border: thin solid #8FC31F;
	-webkit-border-radius: 12px;
	padding-right: 6px;
	padding-left: 10px;
	line-height: 18px;
	height: 24px;
	background-color: #8FC31F;
	margin-left: 10px;
	padding-top: 2px;
}
.link:hover {
	background-color: #bdf93b;
	border: thin solid #bdf93b;
	-webkit-border-radius: 10px;
}
.th, td {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-left: 6px;
	padding-right: 6px;
}
table {
	float: left;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #999;
	margin-bottom: 10px;
}
.spec-left {
	float: left;
	width: 49%;
	font-size: 11px;
	line-height: 18px;
}
.spec2 {
	width: 100%;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: -0.02em;
}
.spec-right {
	float: right;
	width: 49%;
	font-size: 11px;
	line-height: 18px;
}
.e-wrap_slider {
	width: 100%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 2em;
}
/* number */

.page_number{
	text-align: right;
	margin-bottom: 20px;
	height: 24px;
	max-width:1124px;
	margin-right: auto;
	margin-left: auto;
}
.page {
	border: thin solid #333;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	height: 26px;
	width: 26px;
	background-color: #333;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.page2 {
	background: #fff;
	border: thin solid #333;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	color: #333;
	text-align: center;
	height: 26px;
	width: 26px;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
}
.page2:hover {
	color: #FFF;
	text-align: center;
	background: #64c88c;
	border: thin solid #333;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
}

@media (max-width: 1200px)  {
	table {
	float: left;
	width: 100%;
}
}
@media (max-width: 47.9em) {
	table {
	float: left;
	width: 100%;
}
.title-m {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 22px;
	line-height: 44px;
	font-weight: bold;
	color: #333;
	margin-top: -10px;
}
.title-m4 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	line-height: 2em;
	font-weight: bold;
	margin-top: -10px;
}
.land {
	width: 82%;	
}
.spec-left {
	float: left;
	width: 100%;
	font-size: 11px;
	line-height: 18px;
}
.spec-right {
	float: right;
	width: 100%;
	font-size: 11px;
	line-height: 18px;
}
@media (max-width: 47.9em) {
.land {
	width: 100%;	
}
}
.point-img {
	width: 100%;
}
.twin {
	position: absolute;
	z-index: 999999;
	float: right;
}
@media (max-width: 47.9em) {
.twin {
	text-align: center;
	width: 50%;
	position: relative;
}
.page_number{
	width: 100%;
	text-align: center;
	}
}